<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Medical System</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

</head>
<body style=" background-image: url('https://img.freepik.com/free-vector/clean-medical-background_53876-97927.jpg?w=2000 ');">
<div style="position:absolute; top:15px;right: 30px; text-align: center">
    <form action="/">
        <button type="submit" class="btn btn-primary">Main Page</button>
    </form>
    <form action="/logout"  method="get" >
        <button type = "submit" class="btn btn-danger">Logout</button>
    </form>
</div>
<div class="row justify-content-center" >
    <div class="col-auto">
        <h1 class="align-content-center">Changes</h1>
        <div th:object="${n}">
        <h5 class="align-content-center" th:text="${'Modified by: '+n.getAuthorEmail()}"></h5>
        <h6 class="align-content-center" th:text="${'Approved by: '+n.getReviewerEmailOne()}"></h6>
        <h6 class="align-content-center" th:text="${'Approved by: '+n.getReviewerEmailTwo()}"></h6>
        </div>
        <table class="table table-responsive" style="background: #A5E0D2; ">
            <thead>
            <tr>
                <th scope="col"><Type></Type></th>
                <th scope="col">Disease</th>
                <th scope="col">Pathogen</th>
                <th scope="col">Description</th>
            </tr>
            <tr th:object="${d}" >
                <td>OLD</td>
                <td th:text="${d.getDiseaseCode()}"></td>
                <td th:text="${d.pathogen}"></td>
                <td th:text="${d.description}"></td>
            </tr>
            <tr th:object="${n}" >
                <td>NEW</td>
                <td th:text="${n.getDiseaseCode()}"></td>
                <td th:text="${n.getPathogen()}"></td>
                <td th:text="${n.description}"></td>
            </tr>
            </thead>
        </table>
        <form th:action="${'/approve/' + n.getId()}" method="post">
            <button class="btn btn-success" type="submit" th:disabled="${
                            n.getAuthorEmail()==curuser or n.getReviewerEmailTwo()==curuser or n.getReviewerEmailOne()==curuser}">Approve</button>
        </form>


    </div>

</div>


</body>
</html>